<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-turn-heading" jhiTranslate="umturnosApp.turn.home.createOrEditLabel">Create or edit a Turn</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!turn.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="turn.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="umturnosApp.turn.dateAndHour" for="field_dateAndHour">Date And Hour</label>
                    <div class="d-flex">
                        <input id="field_dateAndHour" type="datetime-local" class="form-control" name="dateAndHour" [(ngModel)]="dateAndHour"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dateAndHour?.dirty && editForm.controls.dateAndHour?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateAndHour?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dateAndHour?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="umturnosApp.turn.turnType" for="field_turnType">Turn Type</label>
                    <select class="form-control" id="field_turnType" name="turnType" [(ngModel)]="turn.turnType" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="turnTypeOption.id === turn.turnType?.id ? turn.turnType : turnTypeOption" *ngFor="let turnTypeOption of turntypes; trackBy: trackTurnTypeById">{{turnTypeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="umturnosApp.turn.clinic" for="field_clinic">Clinic</label>
                    <select class="form-control" id="field_clinic" name="clinic" [(ngModel)]="turn.clinic" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clinicOption.id === turn.clinic?.id ? turn.clinic : clinicOption" *ngFor="let clinicOption of clinics; trackBy: trackClinicById">{{clinicOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="umturnosApp.turn.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" [(ngModel)]="turn.patient" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === turn.patient?.id ? turn.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="umturnosApp.turn.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="turn.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === turn.user?.id ? turn.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
