<div>
    <h2 id="page-heading">
        <span jhiTranslate="umturnosApp.turn.home.title">Turns</span>
        <button *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-turn" [routerLink]="['/turn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="umturnosApp.turn.home.createLabel">
            Create new Turn
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="turns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
          <!--  <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="dateAndHour"><span jhiTranslate="umturnosApp.turn.dateAndHour">Date And Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="turnType.name"><span jhiTranslate="umturnosApp.turn.turnType">Turn Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clinic.name"><span jhiTranslate="umturnosApp.turn.clinic">Clinic</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="patient.fullName"><span jhiTranslate="umturnosApp.turn.patient">Patient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="umturnosApp.turn.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turn of turns ;trackBy: trackId">
           <!--     <td><a [routerLink]="['/turn', turn.id, 'view' ]">{{turn.id}}</a></td>-->
                <td>{{turn.dateAndHour | date:'medium'}}</td>
                <td>
                    <div *ngIf="turn.turnType">
                        <a [routerLink]="['../turn-type', turn.turnType?.id, 'view' ]" >{{turn.turnType?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turn.clinic">
                        <a [routerLink]="['../clinic', turn.clinic?.id, 'view' ]" >{{turn.clinic?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turn.patient">
                        <a [routerLink]="['../patient', turn.patient?.id, 'view' ]" >{{turn.patient?.fullName}}</a>
                    </div>
                </td>
                <td>
                    {{turn.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/turn', turn.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/turn', turn.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'turn/'+ turn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="turns && turns.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
