<div>
    <h2 id="page-heading">
        <span jhiTranslate="umturnosApp.clinicHistory.home.title">Clinic Histories</span>
        <button *jhiHasAnyAuthority="'ROLE_DOCTOR'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clinic-history" [routerLink]="['/clinic-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="umturnosApp.clinicHistory.home.createLabel">
            Create new Clinic History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="clinicHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="dateAndHour"><span jhiTranslate="umturnosApp.clinicHistory.dateAndHour">Date And Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="issue"><span jhiTranslate="umturnosApp.clinicHistory.issue">Issue</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="history"><span jhiTranslate="umturnosApp.clinicHistory.history">History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="patient.fullName"><span jhiTranslate="umturnosApp.clinicHistory.patient">Patient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clinicHistory of clinicHistories ;trackBy: trackId">
               <!-- <td><a [routerLink]="['/clinic-history', clinicHistory.id, 'view' ]">{{clinicHistory.id}}</a></td>-->
                <td>{{clinicHistory.dateAndHour | date:'medium'}}</td>
                <td>{{clinicHistory.issue}}</td>
                <td>{{clinicHistory.history}}</td>
                <td>
                    <div *ngIf="clinicHistory.patient">
                        <a [routerLink]="['../patient', clinicHistory.patient?.id, 'view' ]" >{{clinicHistory.patient?.fullName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/clinic-history', clinicHistory.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                *jhiHasAnyAuthority="'ROLE_DOCTOR'">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/clinic-history', clinicHistory.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                *jhiHasAnyAuthority="'ROLE_DOCTOR'">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clinic-history/'+ clinicHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clinicHistories && clinicHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
