<div>
    <h2 id="page-heading">
        <span jhiTranslate="umturnosApp.patient.home.title">Patients</span>
        <button *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-patient" [routerLink]="['/patient/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="umturnosApp.patient.home.createLabel">
            Create new Patient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="patients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullName"><span jhiTranslate="umturnosApp.patient.fullName">Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="umturnosApp.patient.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="umturnosApp.patient.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobile"><span jhiTranslate="umturnosApp.patient.mobile">Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="umturnosApp.patient.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insuranceMutual"><span jhiTranslate="umturnosApp.patient.insuranceMutual">Insurance Mutual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dni"><span jhiTranslate="umturnosApp.patient.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberAfiliated"><span jhiTranslate="umturnosApp.patient.numberAfiliated">Number Afiliated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="umturnosApp.patient.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients ;trackBy: trackId">
                <td><a [routerLink]="['/patient', patient.id, 'view' ]">{{patient.id}}</a></td>
                <td>{{patient.fullName}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.mobile}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.insuranceMutual}}</td>
                <td>{{patient.dni}}</td>
                <td>{{patient.numberAfiliated}}</td>
                <td>{{patient.note}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/patient', patient.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/patient', patient.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                *jhiHasAnyAuthority="['ROLE_DOCTOR', 'ROLE_SECRETARY']">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="patients && patients.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
